.bpost-wrapper {
  max-width: 1200px;
  color: black;
  padding: 30px 2%;
  margin: 0 auto;
  line-height: 1.4;
  font-size: 18px;
}

.bpost-wrapper article.bpost-content{
  float: left;
  width: 70%;
  padding-left: 20px;
  padding-right: 40px;
  padding-bottom: 30px;
}

article.bpost-content header h1.bpost-title{
  text-align: center;
  font-size: 40px;
  margin: 1.2em 0;
}

.bpost-wrapper aside.bpost-email{
  padding: 10px;
  margin: 48px auto;
  float: left;
  width: 30%;
}

.bpost-wrapper section.bpost-email-footer{
  max-width: 740px;
  margin: 0px auto;
  margin-top: 60px;
}

@media only screen and (max-width: 1000px) {
  .bpost-wrapper article.bpost-content{
    float: none;
    width: 100%;
    margin: 0 auto;
    max-width: 740px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .bpost-wrapper aside.bpost-email{
    display: none;
  }
}


/* blog email CSS - move to another file later */

.blog-email-signup{
  background: lightyellow;
  border: 2px solid black;
  padding: 7px;
}

.blog-email-signup h2 {
  text-align: center;
  margin-top: 10px;
  max-width: 400px;
  margin: 10px auto;
}

.blog-email-signup  p.signup-msg {
  padding: 0 10px;
  font-size: 17px;
  line-height: 1.1;
  text-align: center;
}

.blog-email-signup form {
  padding: 10px 0;
  text-align: center;
}


.blog-email-signup form > input[type="text"],
.blog-email-signup form > input[type="email"] {
  border: 2px solid black;
  padding-left: 5px;
  margin: 10px 0;
  height: 35px;
  width: 85%;
  font-size: 15px;
}

.blog-email-signup form > input[type="submit"] {
  border: none;
  background-color: black;
  font-size: 16px;
  color: white;
  margin: 10px 0;
  height: 35px;
  width: 35%;
  margin-bottom: 11px;
  min-width: 100px;
}


.blog-email-signup p.privacy-msg {
  color: #555;
  font-style: italic;
  font-size: 14px;
  text-align: center;
  padding-bottom: 10px;
}



/************************************

  render blog post content - also move to another file 

*************************************/


.md-content-render{
}

.md-content-render a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.md-content-render a:active,
.md-content-render a:hover {
  outline-width: 0;
}

.md-content-render strong {
  font-weight: inherit;
}

.md-content-render strong {
  font-weight: bolder;
}

.md-content-render img {
  border-style: none;
}

.md-content-render svg:not(:root) {
  overflow: hidden;
}

.md-content-render code,
.md-content-render kbd,
.md-content-render pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.md-content-render input {
  font: inherit;
  margin: 0;
}

.md-content-render input {
  overflow: visible;
}

.md-content-render [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.md-content-render input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.md-content-render a {
  color: #0366d6;
  text-decoration: none;
}

.md-content-render a:hover {
  text-decoration: underline;
}

.md-content-render strong {
  font-weight: 600;
}


.md-content-render table {
  border-spacing: 0;
  border-collapse: collapse;
}

.md-content-render td,
.md-content-render th {
  padding: 0;
}

.md-content-render h1{
  font-size: 40px;
}
.md-content-render h2{
  font-size: 36px;
}
.md-content-render h3{
  font-size: 32px;
}
.md-content-render h4{
  font-size: 28px;
}
.md-content-render h5{
  font-size: 24px;
}
.md-content-render h6{
  font-size: 20px;
}

.md-content-render p {
  margin-top: 0;
  margin-bottom: 10px;
}

.md-content-render blockquote {
  margin: 0;
}

.md-content-render ul,
.md-content-render ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.md-content-render ol ol,
.md-content-render ul ol {
  list-style-type: lower-roman;
}

.md-content-render ul ul ol,
.md-content-render ul ol ol,
.md-content-render ol ul ol,
.md-content-render ol ol ol {
  list-style-type: lower-alpha;
}

.md-content-render dd {
  margin-left: 0;
}

.md-content-render code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.md-content-render pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.md-content-render a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.md-content-render p,
.md-content-render blockquote,
.md-content-render ul,
.md-content-render ol,
.md-content-render dl,
.md-content-render table,
.md-content-render pre {
  margin-top: 0;
  margin-bottom: 16px;
}



.md-content-render blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.md-content-render blockquote>:first-child {
  margin-top: 0;
}

.md-content-render blockquote>:last-child {
  margin-bottom: 0;
}

.md-content-render kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
}

.md-content-render h1,
.md-content-render h2,
.md-content-render h3,
.md-content-render h4,
.md-content-render h5,
.md-content-render h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}


.md-content-render h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef;
}

.md-content-render h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
}

.md-content-render h3 {
  font-size: 1.25em;
}

.md-content-render h4 {
  font-size: 1em;
}

.md-content-render h5 {
  font-size: 0.875em;
}

.md-content-render h6 {
  font-size: 0.85em;
  color: #6a737d;
}

.md-content-render ul,
.md-content-render ol {
  padding-left: 2em;
}

.md-content-render ul ul,
.md-content-render ul ol,
.md-content-render ol ol,
.md-content-render ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.md-content-render li>p {
  margin-top: 16px;
}

.md-content-render li+li {
  margin-top: 0.25em;
}

.md-content-render dl {
  padding: 0;
}

.md-content-render dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.md-content-render dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.md-content-render table {
  display: block;
  width: 100%;
  overflow: auto;
}

.md-content-render table th {
  font-weight: 600;
}

.md-content-render table th,
.md-content-render table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.md-content-render table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.md-content-render table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.md-content-render img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

.md-content-render img[align=right] {
  padding-left: 20px;
}

.md-content-render img[align=left] {
  padding-right: 20px;
}

.md-content-render code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
}

.md-content-render code::before,
.md-content-render code::after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.md-content-render pre {
  word-wrap: normal;
}

.md-content-render pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.md-content-render .highlight {
  margin-bottom: 16px;
}

.md-content-render .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.md-content-render .highlight pre,
.md-content-render pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

.md-content-render pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.md-content-render pre code::before,
.md-content-render pre code::after {
  content: normal;
}

.md-content-render kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1px #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
}

.md-content-render hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #aeaeaf;
}
